:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-section-bg-color: #2f303a;
  --logo-color: #000000;
  --footer-tel-mail-color: rgba(255, 255, 255, 0.6);
  --border: #eeeeee;
  --border-clients: #afb1b8;
  --color-icon-foter: #44454E;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-bg-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.button {
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: none;
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: var(--logo-color);
  padding: 25px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo__web {
  color: var(--accent-color);
}

.header-part {
  border-bottom: 1px solid #eeeeee;
}

.header-part__logo {
  margin-right: 93px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.main-nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
  bottom: -1px;
}

.main-nav__contakts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__contakts-item:not(:first-child) {
  margin-left: 50px;
}

.main-nav__contakts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: var(--primery-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__contakts-link:hover, .main-nav__contakts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  background-color: var(--hero-section-bg-color);
  text-align: center;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--primery-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}
.features__title {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.features__svg {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-whatwedo {
  display: none;
}
@media screen and (min-width: 768px) {
  .section-whatwedo {
    display: block;
  }
}

.whatwedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.whatwedo__item {
  position: relative;
  content: "";
  margin-left: 30px;
}
.whatwedo__item:first-child {
  margin-left: 0;
}
.whatwedo__foto {
  display: block;
}
.whatwedo__title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: var(--secondary-bg-color);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__item {
  margin-left: 30px;
  background-color: var(--primery-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:first-child {
  margin-left: 0;
}
.team__foto {
  display: block;
  width: 450px;
  height: 460px;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 16px;
}
.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--primery-bg-color);
}
.social-list__icon {
  fill: var(--border-clients);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover svg,
.social-list__link:focus svg {
  fill: var(--primery-bg-color);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--border-clients);
  fill: var(--border-clients);
  -webkit-transition: border-color 205ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 205ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.foter {
  background-color: var(--hero-section-bg-color);
  padding: 60px 0;
}

.foter__logo {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  color: var(--primery-bg-color);
}

.foter-adres__item:not(:last-child) {
  margin-bottom: 9px;
}

.foter-adres__link {
  display: block;
  color: var(--footer-tel-mail-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-adres__link:hover, .foter-adres__link:focus {
  color: var(--accent-color);
}

.foter-adres__link--color {
  color: var(--primery-bg-color);
}

.foter-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.foter-two {
  margin-left: 70px;
  margin-right: auto;
}

.social-list__icon--foter {
  fill: var(--primery-bg-color);
}

.social-list__link--foter {
  background-color: var(--color-icon-foter);
}

.title__foter {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-bg-color);
}

.foter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foter__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--footer-tel-mail-color);
  background-color: var(--hero-section-bg-color);
  margin-right: 12px;
  padding: 0;
  padding-left: 16px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter__form-input:focus {
  border: 1px solid var(--primery-bg-color);
}

.foter__form ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-tel-mail-color);
}

.foter__form ::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-tel-mail-color);
}

.foter__form :-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-tel-mail-color);
}

.foter__form ::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-tel-mail-color);
}

.foter__form ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-tel-mail-color);
}

.list-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.list-works__item {
  display: block;
}

.main-part {
  padding-top: 94px;
  padding-bottom: 100px;
}

.portfolio {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__box {
  position: relative;
  overflow: hidden;
}
.portfolio__image {
  display: block;
}
.portfolio__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-bg-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__discr {
  padding: 20px 24px;
  border-top: 0;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__works {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio:hover .portfolio__text,
.portfolio:focus .portfolio__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primery-bg-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primery-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  fill: var(--accent-color);
}

.close-btn__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18 px;
  height: 18px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__coment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form ::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form :-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form ::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.checkbox-label__icon {
  margin-right: 7px;
}
.checkbox-label__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-text-color);
}
.checkbox-label__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}
.checkbox-label__vectorbox {
  opacity: 1;
}
.checkbox-label__checkfinal {
  opacity: 0;
}
.checkbox-label__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-text-color);
}
.checkbox-label__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.checkbox-label__input:checked + .checkbox-label__icon > .checkbox-label__checkfinal {
  opacity: 1;
}

.checkbox-label__input:checked + .checkbox-label__icon > .checkbox-label__vectorbox {
  opacity: 0;
}

.hero-button {
  cursor: pointer;
  padding: 10px 32px;
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--accent-button-color);
}
.hero-button:active {
  background-color: var(--accent-button-color);
}

.foter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  cursor: pointer;
}
.foter-btn:hover, .foter-btn:focus {
  color: var(--primery-bg-color);
  background-color: var(--accent-button-color);
}
.foter-btn__icon {
  margin-left: 10px;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.menu-btn__item:not(:first-child) {
  margin-left: 8px;
}
.menu-btn__button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.menu-btn__button:hover, .menu-btn__button:focus {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-btn__button:active {
  color: var(--primery-bg-color);
  background-color: var(--accent-color);
}

.modal-form__btn {
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  cursor: pointer;
}
.modal-form__btn__btn:hover, .modal-form__btn__btn:focus {
  background-color: var(--accent-button-color);
}/*# sourceMappingURL=main.css.map */