.main-part {
	padding-top: 60px;
	 padding-bottom: 60px;

	 @media screen and (min-width:1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	 }
}

.list-works {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.list-works__item {
	display: block;
}

