.hero-button {
	cursor: pointer;
	padding: 10px 24px;
	
	&:hover,
	&:focus {
	background-color: var(--accent-button-color);
}
    &:active {
	background-color: var(--accent-button-color);
}
  @media screen and (min-width: 1200px) {
	padding: 10px 32px;
  }
}


