:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--accent-button-color: #188ce8;
	--primery-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--hero-section-bg-color: #2f303a;
	--logo-color: #000000;
	--footer-tel-mail-color: rgba(255, 255, 255, 0.6);
	--border: #eeeeee;
	--border-clients: #afb1b8;
	--color-icon-foter: #44454E;
}